In [1]:
# Import the Pandas library and the csv files.
import pandas as pd

ad = pd.read_csv('actual_duration.csv')
ar = pd.read_csv('appointments_regional.csv')

# 1. Explore the actual duration data.

In [2]:
# View and validate the 'ad' dataframe.
print(ad.shape)
print(ad.dtypes)
ad.head()

(137793, 8)
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [3]:
# Find out the number of locations based on the 'ad' dataframe.
ad_locations = ad['sub_icb_location_name'].value_counts()

print(ad_locations.shape)

(106,)

In [4]:
# Find out the number of sub location codes.
print(ad['sub_icb_location_code'].value_counts())

26A      1484
91Q      1484
W2U3Z    1484
M1J4Y    1484
14L      1484
         ...
05D      1051
03L      1028
00P      1025
02P      1022
01F      1013
Name: sub_icb_location_code, Length: 106, dtype: int64

In [5]:
# Find out the number of ons locations.
ad_locations_ons = ad['icb_ons_code'].value_counts()
print(ad_locations_ons.shape)

(42,)

In [6]:
# Calculate the number of appointments.
ad['count_of_appointments'].sum()

167980692

In [7]:
print(ad['count_of_appointments'].min())
print(ad['count_of_appointments'].max())

1
15400

In [8]:
# Which location had the highest number of appointments?
group_sub_location = ad.groupby('sub_icb_location_ons_code')[['count_of_appointments']].agg('sum')

group_sub_location.sort_values(by=['count_of_appointments'], inplace=True, ascending=False)
group_sub_location

                           count_of_appointments
sub_icb_location_ons_code
E38000256                                6976986
E38000255                                5341883
E38000237                                5209641
E38000253                                4712737
E38000244                                4360079
...                                          ...
E38000024                                 362242
E38000170                                 358060
E38000068                                 348396
E38000161                                 340895
E38000200                                 311713

[106 rows x 1 columns]

In [9]:
# List the top 10 location names by appointments.
group_sub_location_name = ad.groupby('sub_icb_location_name')[['count_of_appointments']].agg('sum')

group_sub_location_name.sort_values(by=['count_of_appointments'], inplace=True, ascending=False)
group_sub_location_name[0:10]

                                             count_of_appointments
sub_icb_location_name
NHS North West London ICB - W2U3Z                          6976986
NHS North East London ICB - A3A8R                          5341883
NHS Kent and Medway ICB - 91Q                              5209641
NHS Hampshire and Isle Of Wight ICB - D9Y0V                4712737
NHS South East London ICB - 72Q                            4360079
NHS Devon ICB - 15N                                        4255338
NHS South West London ICB - 36L                            4014321
NHS Black Country ICB - D2P2L                              3901431
NHS North Central London ICB - 93C                         3795250
NHS Birmingham and Solihull ICB - 15E                      3600087

In [10]:
# Find out which location has the highest number of records.
print(ad['sub_icb_location_name'].value_counts())

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
                                                        ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D          1051
NHS South Yorkshire ICB - 03L                           1028
NHS North East and North Cumbria ICB - 00P              1025
NHS South Yorkshire ICB - 02P                           1022
NHS Cheshire and Merseyside ICB - 01F                   1013
Name: sub_icb_location_name, Length: 106, dtype: int64

In [11]:
# Find the highest and lowest number of records by date.
print(ad['appointment_date'].value_counts())

01-Dec-21    742
07-Mar-22    742
06-Apr-22    742
07-Apr-22    742
08-Apr-22    742
            ...
03-Jun-22    254
27-Dec-21    248
01-Jan-22    223
26-Dec-21    189
25-Dec-21    128
Name: appointment_date, Length: 212, dtype: int64

In [13]:
# Import the datetime library.
from datetime import datetime

# Change the datatype for the appointment date column.
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'])

In [14]:
# Find the earliest and latest records.
print(ad['appointment_date'].min())
print(ad['appointment_date'].max())

2021-12-01 00:00:00
2022-06-30 00:00:00

In [15]:
# Group the data based on duration.
print(ad['actual_duration'].value_counts())

Unknown / Data Quality    20161
1-5 Minutes               19909
6-10 Minutes              19902
11-15 Minutes             19738
16-20 Minutes             19534
21-30 Minutes             19452
31-60 Minutes             19097
Name: actual_duration, dtype: int64

# 2. Explore the appointment regional data.

In [16]:
# View and validate the 'ar' dataframe.
print(ad.shape)
print(ad.dtypes)
ad.head()

(137793, 8)
sub_icb_location_code                object
sub_icb_location_ons_code            object
sub_icb_location_name                object
icb_ons_code                         object
region_ons_code                      object
appointment_date             datetime64[ns]
actual_duration                      object
count_of_appointments                 int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,16-20 Minutes,730

In [17]:
# Find out the number of ons locations.
ar_locations_ons = ar['icb_ons_code'].value_counts()

print(ad_locations_ons.shape)

(42,)

In [18]:
# Calculate the number of appointments
ar['count_of_appointments'].sum()

742804525

In [19]:
print(ar['count_of_appointments'].min())
print(ar['count_of_appointments'].max())

1
211265

In [20]:
sorted_ar = ar.sort_values(by=['count_of_appointments'], ascending=False)
sorted_ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
144544,E54000027,2020-01,Attended,GP,Face-to-Face,Same Day,211265
409005,E54000029,2020-01,Attended,GP,Face-to-Face,Same Day,203378
145905,E54000027,2020-06,Attended,GP,Telephone,Same Day,191019
410298,E54000029,2020-06,Attended,GP,Telephone,Same Day,186344
144828,E54000027,2020-02,Attended,GP,Face-to-Face,Same Day,185930

In [21]:
# Group the data based on duration.
ar_month = (ar['appointment_month'].value_counts(sort=False))
ar_month

2020-01    20889
2020-02    20689
2020-03    21350
2020-04    19124
2020-05    18338
2020-06    18844
2020-07    19502
2020-08    19247
2020-09    20043
2020-10    20122
2020-11    19675
2020-12    19394
2021-01    19319
2021-02    18949
2021-03    19369
2021-04    19452
2021-05    19384
2021-06    19814
2021-07    19899
2021-08    19786
2021-09    20441
2021-10    20562
2021-11    20766
2021-12    20393
2022-01    20225
2022-02    20133
2022-03    20532
2022-04    20073
2022-05    20276
2022-06    20231
Name: appointment_month, dtype: int64

In [22]:
# Group the data based on appointment status.
ar_status = (ar['appointment_status'].value_counts())
ar_status

Attended    232137
Unknown     201324
DNA         163360
Name: appointment_status, dtype: int64

In [23]:
ar_monthly = ar.groupby('appointment_month')[['appointment_status']].agg('value_counts')
ar_monthly[0:20]

appointment_month  appointment_status
2020-01            Attended              7830
                   Unknown               7187
                   DNA                   5872
2020-02            Attended              7761
                   Unknown               7172
                   DNA                   5756
2020-03            Attended              7910
                   Unknown               7543
                   DNA                   5897
2020-04            Attended              7294
                   Unknown               6986
                   DNA                   4844
2020-05            Attended              7056
                   Unknown               6607
                   DNA                   4675
2020-06            Attended              7240
                   Unknown               6751
                   DNA                   4853
2020-07            Attended              7578
                   Unknown               6818
dtype: int64

In [24]:
ar_monthly_apps = ar.groupby('appointment_month')[['count_of_appointments']].agg('sum')
ar_monthly_apps.loc['total'] = ar_monthly_apps.sum()
ar_monthly_apps

                   count_of_appointments
appointment_month
2020-01                         27199296
2020-02                         24104621
2020-03                         24053468
2020-04                         16007881
2020-05                         16417212
2020-06                         20690805
2020-07                         22491437
2020-08                         20150520
2020-09                         26714255
2020-10                         28301932
2020-11                         25061602
2020-12                         23535936
2021-01                         22492069
2021-02                         22399569
2021-03                         27225424
2021-04                         23879932
2021-05                         23508395
2021-06                         26784182
2021-07                         25739219
2021-08                         23852171
2021-09                         28522501
2021-10                         30303834
2021-11                         30405070
2021-12                         25140776
2022-01                         25635474
2022-02                         25355260
2022-03                         29595038
2022-04                         23913060
2022-05                         27495508
2022-06                         25828078
total                          742804525

In [25]:
# Group the data based on hcp type.
ar_hcp = (ar['hcp_type'].value_counts())
ar_hcp

Other Practice staff    241557
GP                      226036
Unknown                 129228
Name: hcp_type, dtype: int64

In [26]:
# Group the data based on hcp type.
ar_mode = (ar['appointment_mode'].value_counts())
ar_mode

Face-to-Face    180410
Telephone       166483
Home Visit      111194
Unknown          79147
Video/Online     59587
Name: appointment_mode, dtype: int64

In [27]:
ar_book = (ar['time_between_book_and_appointment'].value_counts())
ar_book

Same Day                  95502
2 to 7 Days               92409
1 Day                     88957
8  to 14 Days             82698
15  to 21 Days            73666
22  to 28 Days            68755
More than 28 Days         65147
Unknown / Data Quality    29687
Name: time_between_book_and_appointment, dtype: int64

# 3. Explore the national categories data.

In [29]:
# Import the excel file. Create, view and validate the dataframe.
nc = pd.read_excel('national_categories.xlsx')
print(nc.shape)
print(nc.dtypes)
nc.head()

(817394, 8)
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month        datetime64[ns]
dtype: object

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08-01
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08-01
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08-01
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08-01
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08-01

In [30]:
# Find out the number of ons locations.
nc_locations_ons = nc['icb_ons_code'].value_counts()
print(nc_locations_ons.shape)

(42,)

In [31]:
# Find and print out the number of locations based on sub location name.
nc_locations_sub = nc['sub_icb_location_name'].value_counts()

print("Count of locations: ")
print(nc_locations_sub.shape)

Count of locations:
(106,)

In [32]:
# Calculate the number of appointments
nc['count_of_appointments'].sum()

296046770

In [33]:
# Find out which location has the highest number of appointments.
nc_group_sub_location_name = nc.groupby('sub_icb_location_name')[['count_of_appointments']].agg('sum')

nc_group_sub_location_name.sort_values(by=['count_of_appointments'], inplace=True, ascending=False)
nc_group_sub_location_name[0:106]

                                              count_of_appointments
sub_icb_location_name
NHS North West London ICB - W2U3Z                          12142390
NHS North East London ICB - A3A8R                           9588891
NHS Kent and Medway ICB - 91Q                               9286167
NHS Hampshire and Isle Of Wight ICB - D9Y0V                 8288102
NHS South East London ICB - 72Q                             7850170
...                                                             ...
NHS Cheshire and Merseyside ICB - 01V                        641149
NHS Nottingham and Nottinghamshire ICB - 02Q                 639660
NHS Greater Manchester ICB - 00V                             639211
NHS Cheshire and Merseyside ICB - 01T                        606606
NHS Lancashire and South Cumbria ICB - 02G                   554694

[106 rows x 1 columns]

In [34]:
# Find out which location has the highest number of records.
print(nc['sub_icb_location_name'].value_counts())

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [35]:
# Find the highest and lowest number of records by date.
print(nc['appointment_date'].value_counts())

2022-06-28    3536
2022-06-21    3530
2022-05-17    3528
2022-05-10    3521
2022-06-07    3520
              ...
2021-08-22     221
2022-01-01     219
2022-04-17     202
2021-12-25     201
2021-12-26     164
Name: appointment_date, Length: 334, dtype: int64

In [36]:
# Change the datatype for the appointment date column.
nc['appointment_date'] = pd.to_datetime(nc['appointment_date'])

In [37]:
# Find the earliest and latest records.
print(nc['appointment_date'].min())
print(nc['appointment_date'].max())

2021-08-01 00:00:00
2022-06-30 00:00:00

In [38]:
# Group the data based on appointment month.
nc_month = (nc['appointment_month'].value_counts(sort=False))
nc_month

2021-08-01    69999
2021-09-01    74922
2021-10-01    74078
2021-11-01    77652
2021-12-01    72651
2022-01-01    71896
2022-02-01    71769
2022-03-01    82822
2022-04-01    70012
2022-05-01    77425
2022-06-01    74168
Name: appointment_month, dtype: int64

In [39]:
nc_monthly = nc.groupby('appointment_month')[['count_of_appointments']].agg('sum')
nc_monthly.loc['total'] = nc_monthly.sum()
nc_monthly

                     count_of_appointments
appointment_month
2021-08-01 00:00:00               23852171
2021-09-01 00:00:00               28522501
2021-10-01 00:00:00               30303834
2021-11-01 00:00:00               30405070
2021-12-01 00:00:00               25140776
2022-01-01 00:00:00               25635474
2022-02-01 00:00:00               25355260
2022-03-01 00:00:00               29595038
2022-04-01 00:00:00               23913060
2022-05-01 00:00:00               27495508
2022-06-01 00:00:00               25828078
total                            296046770

In [40]:
# Group the data based on appointment month.
nc_service = (nc['service_setting'].value_counts(sort=False))
nc_service

Primary Care Network         183790
Other                        138789
General Practice             359274
Unmapped                      27419
Extended Access Provision    108122
Name: service_setting, dtype: int64

In [41]:
# Group the data based on appointment month.
nc_context = (nc['context_type'].value_counts(sort=False))
nc_context

Care Related Encounter    700481
Unmapped                   27419
Inconsistent Mapping       89494
Name: context_type, dtype: int64

In [54]:
# Group the data based on appointment month.
nc_category = (nc['national_category'].value_counts(sort=True))
nc_category

Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [65]:
nc_category_apps = nc.groupby('national_category')[['count_of_appointments']].agg('sum')
nc_category_apps.sort_values(('count_of_appointments'), ascending=False)

                                                    count_of_appointments
national_category
General Consultation Routine                                     97271522
General Consultation Acute                                       53691150
Clinical Triage                                                  41546964
Planned Clinics                                                  28019748
Inconsistent Mapping                                             27890802
Planned Clinical Procedure                                       25702694
Unmapped                                                         11080810
Unplanned Clinical Activity                                       3055794
Home Visit                                                        2144452
Structured Medication Review                                      1858379
Service provided by organisation external to th...                 852133
Patient contact during Care Home Round                             810330
Care Home Visit                                                    628279
Social Prescribing Service                                         475828
Walk-in                                                            412438
Care Home Needs Assessment & Personalised Care ...                 405904
Non-contractual chargeable work                                    138911
Group Consultation and Group Education                              60632

In [ ]:
# Finally, check for missing data.
ad_na = ad[ad.isna().any(axis=1)]
ar_na = ar[ar.isna().any(axis=1)]
nc_na = nc[nc.isna().any(axis=1)]

print(ad_na.shape)
print(ar_na.shape)
print(nc_na.shape)

In [ ]:
difference between the percentage of inconsistence mapping in appointments and records
date range for different dataframes